GITHUB_ACCESS_TOKEN=
GITCODE_ACCESS_TOKEN=
GITCODE_OWNER=openJiuwen
GITCODE_REPO=jiuwenclaw
GITCODE_USERNAME=SushiNinja
GITCODE_PULL_STATE=open
GITCODE_PER_PAGE=5
GITCODE_CA_BUNDLE=
LLM_API_BASE=
LLM_API_KEY=
